body, html { margin: 0; padding: 0; height: 100%; }
#map { width: 100%; height: 100vh; z-index: 1; }

.icono-con-borde {
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
    background-color: white; 
}

/* PANEELES HUD EN LA ESQUINA */
.panel-ui {
    position: absolute; top: 20px; right: 20px;
    z-index: 1000;
    background: rgba(20, 25, 20, 0.9);
    border: 2px solid #32CD32;
    color: white; padding: 15px; border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    width: 220px; box-shadow: 0px 4px 10px rgba(0,0,0,0.8);
}
.panel-ui h3 { margin: 0 0 10px 0; color: #32CD32; }
.panel-ui p { font-size: 12px; margin-bottom: 15px; color: #ccc;}
.panel-ui button {
    width: 100%; padding: 10px; background-color: #32CD32;
    color: black; font-weight: bold; border: none;
    cursor: pointer; font-family: 'Courier New', Courier, monospace;
}
.panel-ui button:hover { opacity: 0.8; }

/* MODALES (VENTANAS FLOTANTES) */
.modal {
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%); z-index: 2000;
    background: rgba(20, 25, 20, 0.95);
    border: 2px solid #32CD32; color: white;
    padding: 20px; border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    width: 320px; box-shadow: 0px 0px 20px rgba(50, 205, 50, 0.3);
}
.oculto { display: none !important; }

.modal input, .desplegable {
    width: 90%; padding: 8px; margin-bottom: 10px; margin-top: 5px;
    background: #111; border: 1px solid #32CD32; color: #32CD32;
    font-family: 'Courier New', Courier, monospace;
}
.modal button {
    padding: 8px 10px; color: white; border: none; cursor: pointer;
    font-family: 'Courier New', Courier, monospace; font-weight: bold;
}
